{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Savad KP | Portfolio</title>
	<meta name="author" content="Savad" />

    <!-- SEO  -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon .ico' %}"/>
    <meta name="description" content="A Python geek and web development freebie" />
    <meta name="keywords" content="Savad KP, Python Geek, Python Developer, Django, Full stack developer" />
    <!-- meta tags for both facebook, google-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Savad KP" />
    <meta property="og:description" content="A Python geek and web development freebie" />
    <meta property="og:url" content="http://savad.herokuapp.com" />
    <meta property="og:image" content="https://tastyspotsmedia.s3.amazonaws.com/cache/df/2c/df2cbee94f7527af0d7d98b3b9cc1806.jpg" />
    <meta property="og:image:url" content="https://tastyspotsmedia.s3.amazonaws.com/cache/df/2c/df2cbee94f7527af0d7d98b3b9cc1806.jpg"/>
    <meta property="og:site_name" content="Savad"/>
    <!-- google+ meta tags -->
    <meta itemprop="name" content="Savad KP" />
    <meta itemprop="description" content="A Python geek and web development freebie" />
    <meta itemprop="image" content="https://tastyspotsmedia.s3.amazonaws.com/cache/df/2c/df2cbee94f7527af0d7d98b3b9cc1806.jpg">




	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon .ico' %}"/>

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
{#	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">#}
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

	</head>
	<body>
		<header role="banner" id="fh5co-header" style="background-image: url({% static 'images/hero-4.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-intro-wrap">
					<div class="fh5co-intro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h1 class="fh5co-intro-lead animate-1 to-animate">{{ user.first_name }} {{ user.last_name }}</h1>
								<h2 class="fh5co-intro-sub animate-2 to-animate">{{ user.about_me }}</h2>
								<p class="fh5co-social text-center" id="fh5co-intro-social">
									<a title="Facebook" target="_blank" href="{{ user.facebook }}" class="to-animate"><i class="fa fa-facebook fa-make-circle"></i></a>
									<a title="Twitter" target="_blank" href="{{ user.twitter }}" class="to-animate"><i class="fa fa-twitter fa-make-circle"></i></a>
									<a title="Linkedin" target="_blank" href="{{ user.linked_in }}" class="to-animate"><i class="fa fa-linkedin fa-make-circle"></i></a>
									<a title="StackOverflow" target="_blank" href="{{ user.stack_overflow }}" class="to-animate"><i class="fa fa-stack-overflow fa-make-circle"></i></a>
									<a title="Github" target="_blank" href="{{ user.github }}" class="to-animate"><i class="fa fa-github fa-make-circle"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<main role="main" id="fh5co-main">
			<div class="container" id="bio-animate">
				<div class="row row-padded">
					<div class="col-md-3">
						<h2 class="fh5co-section-heading to-animate">Summery<span class="fh5co-border"></span></h2>
					</div>
					<div class="col-md-8 col-md-push-1">
						<div class="row">
							<div class="col-md-6 to-animate">
								<p><b>CAREER OBJECTIVE : </b> {{ user.career_objective }}</p>

								<p><b>EMPLOYMENT PROFILE : </b> {{ user.employment_profile|linebreaks }}</p>
							</div>
							<div class="col-md-6 to-animate">
								<p><b>ACADEMIC RECORD : </b> {{ user.academic_record }}</p>
								<p><b>PERSONAL SKILLS : </b>
                                    <ul>
                                        {{ user.personal_skills|safe }}
                                    </ul>
                                </p>
							</div>
						</div>
					</div>
				</div>
				<!-- END .row -->
			</div>
			<!-- END .container -->
			
			<div class="fh5co-section-seperator" style="background-image: url({% static 'images/hero-2.jpg' %});" data-stellar-background-ratio="0.5">
				<div class="fh5co-overlay"></div>
				<div class="container" id="counter-animate">
					<div class="fh5co-section-content-wrap">
						<div class="fh5co-section-content">
							<div class="row">
								<div class="col-md-4 text-center to-animate">
									<span class="fh5co-counter js-counter" data-from="0" data-to="{{ user.number_of_clients }}" data-speed="5000" data-refresh-interval="50"></span>
									<span class="fh5co-counter-label">Clients Worked With</span>
								</div>
								<div class="col-md-4 text-center to-animate">
									<span class="fh5co-counter js-counter" data-from="0" data-to="{{ user.number_of_projects }}" data-speed="5000" data-refresh-interval="50"></span>
									<span class="fh5co-counter-label">Completed Projects</span>
								</div>
								<div class="col-md-4 text-center to-animate">
									<span class="fh5co-counter js-counter" data-from="0" data-to="{{ user.number_of_lines_of_code }}" data-speed="5000" data-refresh-interval="50"></span>
									<span class="fh5co-counter-label">Line of Codes</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->

			<div class="container" id="projects-animate">
				<div class="row row-padded">
					<div class="col-md-3">
						<h2 class="fh5co-section-heading to-animate">Projects<span class="fh5co-border"></span></h2>
						<p class="to-animate">Some of the recent projects snapshots</p>
					</div>
					<div class="col-md-8 col-md-push-1">
						<div class="row">
                            {% for project in user.get_projects.all %}
							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
								<a href="{{ project.image.url }}" class="image-popup">
									<div class="fh5co-overlay-text">{{ project.name }}</div>
									<div class="fh5co-overlay"></div>
									<img src="{{ project.thumbnail.url }}" alt="{{ project.name }}" class="img-responsive">
								</a>
							</div>
                            {% endfor %}
{#							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">#}
{#								<a href="{% static 'images/fulls/dallal.jpg' %}" class="image-popup">#}
{#									<div class="fh5co-overlay-text">Dallal</div>#}
{#									<div class="fh5co-overlay"></div>#}
{#									<img src="{% static 'images/dallal.jpg' %}" alt="Dallal" class="img-responsive">#}
{#								</a>#}
{#							</div>#}
{#							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">#}
{#								<a href="{% static 'images/fulls/goshop7.jpg' %}" class="image-popup">#}
{#									<div class="fh5co-overlay-text">Shop7</div>#}
{#									<div class="fh5co-overlay"></div>#}
{#									<img src="{% static 'images/goshop7.jpg' %}" alt="Shop7" class="img-responsive">#}
{#								</a>#}
{#							</div>#}
{#							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">#}
{#								<a href="{% static 'images/fulls/myvinotype.jpg' %}" class="image-popup">#}
{#									<div class="fh5co-overlay-text">MyVinotype</div>#}
{#									<div class="fh5co-overlay"></div>#}
{#									<img src="{% static 'images/myvinotype.jpg' %}" alt="MyVinotype" class="img-responsive">#}
{#								</a>#}
{#							</div>#}
{#							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">#}
{#								<a href="{% static 'images/fulls/provision.jpg' %}" class="image-popup">#}
{#									<div class="fh5co-overlay-text">Pro-vision</div>#}
{#									<div class="fh5co-overlay"></div>#}
{#									<img src="{% static 'images/provision.jpg' %}" alt="Pro-vision" class="img-responsive">#}
{#								</a>#}
{#							</div>#}
{#							<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">#}
{#								<a href="{% static 'images/fulls/swagene.jpg' %}" class="image-popup">#}
{#									<div class="fh5co-overlay-text">Swagene</div>#}
{#									<div class="fh5co-overlay"></div>#}
{#									<img src="{% static 'images/swagene.jpg' %}" alt="Swagene" class="img-responsive">#}
{#								</a>#}
{#							</div>#}
							
						</div>
					</div>
				</div>
				<!-- END .row -->
			</div>
			<!-- END .container -->

			<div class="fh5co-section-seperator" id="testimony-animate" style="background-image: url({% static 'images/hero-3.jpg' %});" data-stellar-background-ratio="0.5">
				<div class="fh5co-overlay"></div>
				<div class="container">
					<div class="fh5co-section-content-wrap">
						<div class="fh5co-section-content">
							<div class="row">
								<div class="col-md-9 col-md-offset-1 fh5co-testimony to-animate">
									<blockquote>
                                        {% for quote in user.get_quotes.all %}
										<p class="text-center quote">&ldquo;{{ quote.text }} &rdquo; <cite class="author">&mdash; {{ quote.name }} <small>{{ quote.designation }}</small></cite></p>
									    {% endfor %}
                                    </blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->

			<div class="container" id="services-animate">
				<div class="row row-padded">
					<div class="col-md-3">
						<h2 class="fh5co-section-heading to-animate">TECHNICAL EXPERTISE:<span class="fh5co-border"></span></h2>
						<p class="to-animate">Libero velit fugit blanditiis tempora repellat iste inventore amet quaerat ex aliquid sint labore placeat esse.</p>
					</div>
					<div class="col-md-8 col-md-push-1">
						<div class="row">
							<div class="col-md-12">
								<div class="fh5co-accordion-wrap">
                                    {% for tech in user.get_technical_expertise.all %}
									<div class="fh5co-accordion to-animate">
										<div class="fh5co-accordion-head">
											<a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
											<h3><i class="icon-clapperboard"></i>{{ tech.title }}</h3>
										</div>
										<div class="fh5co-accordion-body active">
											<p><ul>
                                                {% for tech_item in tech.items.all %}
                                                <li>{{ tech_item.name }}</li>
                                                {% endfor %}
                                                </ul>
                                            </p>
										</div>	
									</div>
                                    {% endfor %}
									<!-- END .fh5co-accordion -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END .row -->

			</div>
			<!-- END .container -->

			<div class="fh5co-section-seperator fh5co-section-seperator-white" id="contact-animate" style="background-image: url({% static 'images/hero-4.jpg' %});" data-stellar-background-ratio="0.5">
				<div class="fh5co-overlay"></div>
				<div class="container">
					<div class="fh5co-section-content-wrap">
						<div class="fh5co-section-content">
							<div class="row">
								
								<div class="col-md-3">
									<h2 class="fh5co-section-heading to-animate">Get In Touch<span class="fh5co-border"></span></h2>
									
									<ul class="fh5co-contact">
										<li class="fh5co-contact-address to-animate">
											<i class="icon-home"></i>
											{{ user.address }}, {{ user.city }} - {{ user.pin }}, {{ user.country }}
										</li>
										<li class="to-animate"><i class="icon-phone"></i> {{ user.phone_number }}</li>
										<li class="to-animate"><i class="icon-email"></i>{{ user.email }}</li>
										<li class="to-animate"><i class="icon-globe"></i> <a href="{{ user.website }}" target="_blank">{{ user.website }}</a></li>
									</ul>
								</div>

								<div class="col-md-8 col-md-push-1">
									<div class="row">
                                        <form id="contact-form" action="{% url 'send_message' %}" method="post">{% csrf_token %}
                                            <div class="col-md-6">
                                                <div class="form-group to-animate">
                                                    <label for="name" class="sr-only">Name</label>
                                                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                                                </div>
                                                <div class="form-group to-animate">
                                                    <label for="email" class="sr-only">Email</label>
                                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                                </div>
                                                <div class="form-group to-animate">
                                                    <label for="phone" class="sr-only">Phone</label>
                                                    <input type="text" id="number" name="number" class="form-control" placeholder="Phone" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group to-animate">
                                                    <label for="message" class="sr-only">Message</label>
                                                    <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Message" required></textarea>
                                                </div>
                                                <div class="form-group to-animate">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Send Message">
                                                </div>
                                            </div>
                                        </form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END .container -->

		</main>

		<footer role="contentinfo" id="fh5co-footer">
			<div class="container" id="footer-animate">
				<div class="row row-padded">
					<div class="col-md-8 col-md-push-4">
						<p class="to-animate">&copy; 2016 Savad. All Rights Reserved. Designed: <a href="{{ user.website }}" target="_blank">Savad</a></p>
					</div>
				</div>
			</div>
			<!-- END .container -->
		</footer>

		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<!-- jQuery Easing -->
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<!-- Bootstrap -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Waypoints -->
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<!-- Stellar -->
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<!-- countTo -->
		<script src="{% static 'js/jquery.countTo.js' %}"></script>
		<!-- Magnific Popup -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'js/main.js' %}"></script>

{#        sweet alert#}
        <script src="{% static 'js/sweetalert.min.js' %}"></script>

	<script>
$(document).ready(function(){
	$('#contact-form').submit(function(e){
        e.preventDefault();
        swal("Message sent!", "Thanks for your interest!", "success");
        var data = $('#contact-form').serialize();
        $('#contact-form')[0].reset();
        $.ajax({
                url:$('#contact-form').attr('action'),
                type:'POST',
                data:data,
                success: function(data) {
                    // on success
                }
        });
    });
});

</script>
	</body>
</html>

