.fa-make-circle {    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 30px !important;
    padding-top: 11px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

/*#fh5co-header .fh5co-overlay{*/
    /*background: rgba(68, 86, 218, 0.88);*/
/*}*/

/*.fh5co-section-heading .fh5co-border{ background: #4456DA; }*/

/*a{color: #4456DA !important;}*/

/*.btn-primary:hover{background-color: #4456DA;*/
    /*border-color: #4456DA;*/
/*}*/

/*.btn-primary{background-color: #4456DA;*/
    /*border-color: #4456DA;*/
/*}*/

/*.fh5co-accordion-toggle:hover{ color: #4456DA !important; }*/